<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.panteranegra.tudoka">

    <uses-permission android:name="android.permissioin.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FirmaCapacitacionActivity"
            android:exported="false" />
        <activity
            android:name=".FirmaSeguimientoActivity"
            android:exported="false" />
        <activity android:name=".DrawImageActivity" />
        <activity android:name=".VistaItemActivity" />
        <activity android:name=".ResumenItemsEnvioActivity" />
        <activity android:name=".AgregarItemDevolucionActivity" />
        <activity android:name=".DatosTransporteDevolucionActivity" />
        <activity android:name=".MostrarActivity" />
        <activity android:name=".DatosDevolucionActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".DatosEnvioActivity" />
        <activity android:name=".MostrarDatosEnvioActivity" />
        <activity android:name=".AgregarItemEnvioActivity" />
        <activity android:name=".ListasCargasEnvioActivity" />
        <activity android:name=".NumerosRemisionActivity" />
        <activity android:name=".MostrarDatosDevolucionActivity" />
        <activity android:name=".DocumentosClienteActivity" />
        <activity android:name=".ReporteObraActivity" />
        <activity android:name=".DatosCapacitacionActivity" />
        <activity android:name=".AgregarActividadCapacitacionActivity" />
        <activity android:name=".ResumenActividadesCapacitacionActivity" />
        <activity android:name=".DatosSeguimientoActivity" />
        <activity android:name=".MostrarDatosSeguimientoActivity" />
        <activity android:name=".AgregarActividadSeguimientoActivity" />
        <activity android:name=".ResumenActividadesSeguimientoActivity" />
        <activity android:name=".DatosDano" />
        <activity android:name=".MostrarDatosDanoActivity" />
        <activity android:name=".AgregarItemDanoActivity" />
        <activity android:name=".ResumenItemsDanoActivity" />
        <activity android:name=".MostrarDatosCapacitacionActivity" />
        <activity android:name=".ResumenItemsDevolucionActivity" />
        <activity android:name=".NumerosDevolucionActivity" />
        <activity android:name=".EnviarMailsActivity" />
        <activity android:name=".utils.DatosTransporteEnvioActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>